body {
	margin: 0;
	font-family:Arial,sans-serif;
	font-size:13px;
	background-attachment:scroll;
	background-repeat:repeat-x;
	background-color: #000;
	background-image: url(/images/bg_6.jpg);
	font-weight:normal;
	color:#333;
}

p  {margin: 0; color:#333;}
img{border:0px;}
a{text-decoration:none;}


li{list-style-type:none; margin:0px;}
ul{margin:0px;}

h1, h2, h3, h4{padding:0px; margin:0px;}

#container {
	margin-left:auto;
	margin-right:auto;
	width:960px;
	text-align:left;
	overflow: hidden;
	min-height:500px;
	background-color: #000;
}



.container_padd{
	margin-left:auto;
	margin-right:auto;
	width:960px;
	text-align:left;
	
}



#header{
	height:175px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#header_wrapper{
  float:left;
  width:960px;
  height:100px;
}

#header_low{
  height:40px;
  float:left;
	color:#fff;
	width:960px;
}


#logo{
	float:left;
	width:960px;
	height:135px;
	
}


#nav_bar{
    float:right;
    height:38px;
 
    margin-top:20px;
}

#main_nav{
    float:left;
    height:38px;
   
}



#footer {
  background-color:#3C424B;
  min-height:140px;
  margin-left:auto;
  margin-right:auto;
  text-align:justify;
  font-size:11px;
  margin-top:20px;
}


#footer_left{
    height:50px;
	float:left;
	width:450px;
	margin-top:15px;
}

#footer_right{
    height:50px;
	float:right;
	margin-top:15px;
	
}

#footer ul{
    display:inline;
    margin-left:-40px;
}

#footer li{
    display:inline;
    color:#fff;
    padding-right:10px;
    padding-left:10px;
    border-right-color: white;
border-right-style: solid;
border-right-width: 1px;
    
}

#footer li a{
    margin-top:10px;
    color:#fff;
}



.main_text{ background-image:url(/images/text.png); height:150px; background-position:0px 0px; }


.navigation{
  margin-left:160px;
  float:left;
}

.navigation ul {
float:left;
margin-top:14px;
}

.navigation a {
height:38px;
display:block;
float:left;
text-align:center;
font-size:20px;
text-decoration:none;
color:#FFFFFF;
font-weight:bold;
margin-left:100px;
padding-top:10px;
}

.navigation a:hover {
text-decoration:underline
}

.navigation li {
list-style-image:none;
display:inline;
}


.fix{
  
}

.sign_up_form_border{
border:2px solid #ccc;
}



td{padding-top:15px;}



#left_column{
  float:left;
  width:160px;
  background-image: url(/images/big_left.jpg);
  background-position: 0px 75px;
  background-repeat:no-repeat;
  min-height:5960px;
  
}

#main_column{
  float:left;
  width:640px;
  background-color:#fff;
  min-height:6960px;
}

#right_column{
  float:left;
  width:160px;
  background-color:#000;
  min-height:5960px;
}


#sn_icons{
  float:left;
  height:50px;
  width:161px;
  margin-left:2px;
}

#press{
  float:left;
  height:50px;
  width:160px;
  margin-top:5px;
  margin-left:2px;
}

#widget{
  float:left;
  height:400px;
  width:160px;
  margin-top:5px;
  margin-left:2px;
}

#page{
  float:left;
  margin-top:5px;
  
}

#upper_links{
  float:left;
  height:70px;
 
}

#shop{
   float:left;
  height:35px;
 
  text-align:center;
  width:160px;
}

#itunes{
  float:left;
  height:35px;
 
  text-align:center;
  width:160px;
}


